.elements__like {
	background: url(../images/heart.svg);
	width: 22px;
	height: 19px;
}
 .elements__like:active  {
	background: url(../images/black-heart.svg);
}
.elements__like:hover {
	opacity: 0.5;
	transition-duration: 0.5s;
	cursor: pointer;
}